.vscode/
.DS_Store

*.out
*.o
*.exe
a.out

# C++ compiled executables
BasicMaths/EuclideanGCD
BasicMaths/armStrong
BasicMaths/countDigits
BasicMaths/gcd
BasicMaths/palindrome
BasicMaths/primecheck
BasicMaths/printDivisor
BasicMaths/printDivisor2nd
BasicMaths/reverseNumber

Basics/forloop
Basics/functions
Basics/lecture1
Basics/passbyvalue
Basics/pattern1
Basics/pattern2
Basics/pattern3
Basics/pattern4
Basics/pattern5
Basics/pattern6
Basics/pattern7
Basics/pattern8
Basics/pattern9
Basics/pattern10
Basics/pattern11
Basics/pattern12
Basics/pattern13
Basics/pattern14
Basics/pattern15
Basics/pattern16
Basics/pattern17
Basics/pattern18
Basics/pattern19
Basics/pattern20
Basics/pattern21
Basics/pattern22
Basics/printSum

Recursion/fibonacci
Recursion/hashing
Recursion/hashingAlpha
Recursion/hashingmap
Recursion/palindrome
Recursion/problem1
Recursion/problem2
Recursion/problem3
Recursion/problem4
Recursion/problem5
Recursion/problem6
Recursion/problem6p2
Recursion/problem7
Recursion/reverseArray
Recursion/reverseArrayp2

Sorting/bubbleSort
Sorting/insertionSort
Sorting/mergeSort
Sorting/quickSort
Sorting/selectionSort

Arrays/checkSorted
Arrays/largestElement
Arrays/removeDuplicates
Arrays/secondLargest
Arrays/secondSmallest

Arrays/longestsubarraywithsumk
Arrays/longestsubarraywithsumkoptimal
Arrays/longestsubarraywithsumkbetter

Arrays/leftrotateArray
Arrays/leftrotatebyk
Arrays/linearSearch
Arrays/movezeroesbrute
Arrays/moveZeroOptimal
Arrays/leftrotateoptimal
Arrays/unionSortedbrute
Arrays/unionsortedoptimal
Arrays/intersectionofsorted
Arrays/intersectionoptimal
Arrays/missingno.optimal
Arrays/missingno.optimal2
Arrays/missingno.brute
Arrays/missingno.better
Arrays/maxconsecutiveones
Arrays/findsingleoccurence
Arrays/findsingleoccurencebetter
Arrays/findsingleoccurenceoptiomal
